* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.menu_bar {
	display:none;
    position: fixed, absolute;
}

#header {
}

#header nav {
    .text-align: center;
    font-size: 10x;
    background-color: #d10200;
    z-index: 1000;
    max-width: 100%;
    width: auto;
    margin: 0;
}

#header nav ul {
    list-style: none;
}

#header nav li {
    display: inline-block; 
    position: relative;
}

#header nav li:hover > .filhos {
    width: 100%;
    display: block;
}

#header nav li .filhos {
    display: none; 
    background-color: #c71f16;
    position: absolute;
    min-width: 150%;
    z-index: 1000;
}

#header nav li .filhos:hover {
    display: block; 
}

#header nav li .filhos li {
    width: 100%;
    background-color: #a90505;
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rbga(255,255,255,.5);
}

#header nav li .filhos li ul {
    right: 135px;
    top: 0px;
}

#header nav li .filhos li a {
    display: block;
}

#header nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 15px;
}

#header nav ul li:hover {
    background-color: #c00000;
}

#header nav ul li a:hover {
    background-color: #a00000;
}

#header nav ul li a span {
    margin-right: 10px;
}

#header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}

@media screen and (max-width:1190px) {
	body {
		padding-top:64px;
	}
    
	.menu_bar {
		width: 100%;
		background: #d10200;
		display: block;
		position: fixed;
		top:0px;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 12px;
		color:#fff;
		overflow: hidden;
		font-size:25px;
		font-weight:bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}
    
    #header nav {
        width: 65%;
        height: calc(100% - 60px);
        position: fixed;
        left: -100%;
        margin: 0px;
        overflow: hidden;
    }
    
    #header nav ul li {
        display: block;
        border-bottom: 2px solid #a90505;
    }
    
    #header nav ul li a {
        display: block;
    }
    
    #header nav ul li:hover > .filhos {
        display: block; 
    }
    
    #header nav ul li .filhos {
        width: 100%;
		position: relative;
    }

	#header nav ul li .filhos li a{
		margin-left: 20px;
	}

	#header nav ul li .caret {
		float: right;
	}    
}